.blockList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.itemBlock {
  color: #610a0a;
  padding: 15px;
  background: #ffeede;
  border-radius: 5px;
  max-width: 180px;
}
