/** @type {import('eslint').Rule.RuleModule} */
{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": { "project": ["./tsconfig.json"] },
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "no-useless-escape": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/strict-boolean-expressions": "off",
    "no-extra-boolean-cast": "off"
  },
  "ignorePatterns": ["src/**/*.test.ts", "src/frontend/generated/*"]
}