.container {
  display: flex;
  justify-content: space-between;
  background: #FFEEDE;
  padding: 27px 40px 27px 133px;
  border-bottom: 1px solid #F3D5B9;
  font-size: 18px;
}

.link {
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
  color: #610A0A;
}